// COLORS
$color-primary: #4077ee;
$color-primary-light: #047aef;
$color-primary-dark: #051fe8;

$color-secondary-light: #54e37f;
$color-secondary-dark: #19a5518d;

$color-tertiary-light: #9872ff;
$color-tertiary-dark: #3a26ea;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;